.cardImage {
    width: 240px;
    height: 200px;
}

.container {
    margin: 40px 15px;
    width: 240px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s ease;
    border: 1px solid silver;
    overflow: hidden;
    padding: 10px;
}

.container:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px , rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09)0px 8px 4px , rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 8px 16px;
}

.container h3{
    color : #404040;
    margin: 25px 20px 15px;
    text-align: left;
    font-size: 1.1rem;
}

.container p {
    margin : 15px 20px ;
    padding: 5px;
    color: #404040;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 500;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px silver solid;
    margin: 15px 20px 20px;
    padding: 10px 5px;
}

.counter a {
    text-decoration: none;
    color: #1a73e8;
    font-size: 0.95rem;
}

.buttonContainer button {
    background-color: #1a73e8;
    font-size: 0.9rem;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    transition: all 0.2s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 12px -2px, 
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-left: 5px;
}

.smallButton {
    width: 30px !important;
    font-size: 1.6rem !important;
    font-weight: bold;
    line-height: 30px;
}

.smallButton img{
    width: 20px;
    height: 20px;
 }

 .buttonContainer button:hover {
    background-color: #0b499b;
 }

 .quantityCounter {
    width: 200px;
    margin-left: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #1a73e8;
 }

 @media (max-width: 1000px) {
    .container {
      width: 45%;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      width: 45%;
    }
    .cardImage {
      width: 200px;
    }
  }
  
  @media (max-width: 555px) {
    .container {
      width: 70%;
    }
    .cardImage {
      width: 230px;
    }
  }
  
  @media (max-width: 400px) {
    .container {
      width: 90%;
    }
  }