.container {
    border: 1px solid silver;
    margin: 150px 150px 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 10px;
}

.container img {
    width: 350px;
}

.textContainer {
    border: 1px solid silver;
    border-radius: 10px;
    margin-left: 30px;
    padding: 20px;
    text-align: left;
    background-color: #f6f5f5;

}

h3 {
    color: #1a73e8;
    margin: 20px 0 30px;
}

.descriotion {
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(62, 62, 62);
}

.category {
    margin: 30px 0 50px;
    font-weight: bold;
    color: rgb(62, 62, 62);
}

.category span {
    color: orange;
    font-weight: bold;
    font-size: 1rem;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    display: inline-block;
    margin : 0 20px;
    background-color: #0a912e;  
    padding: 7px 16px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 12px -2px, 
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-left: 5px;
}

.buttonContainer a {
    text-decoration: none;
    margin : 0 20px;
    background-color: #1a73e8;
    padding: 7px 16px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9rem;
    display: inline-block;
    font-weight: bold;
    transition: all 0.2s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 12px -2px, 
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-left: 5px;
}

.buttonContainer a:hover {
    background-color: #0b499b;
}

@media (max-width: 1200px) {
    .container {
      margin: 120px 80px 50px;
    }
  }
  
  @media (max-width: 1000px) {
    .container {
      flex-direction: column;
      justify-content: center;
    }
    .image {
      width: 170px;
      margin-bottom: 50px;
    }
    .textContainer {
      margin: 0;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      margin: 120px 40px 50px;
      justify-content: center;
    }
    .textContainer {
      margin: 0;
    }
  }
  
  @media (max-width: 555px) {
    .container {
      margin: 120px 20px 50px;
      justify-content: center;
    }
    .textContainer {
      margin: 0;
    }
  }
  
  @media (max-width: 370px) {
    .buttonContainer {
      flex-direction: column;
      align-items: flex-start;
    }
    .price {
      margin-bottom: 40px;
    }
  }